#List, .List {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 20px;
    background-color: white;
    font-size: 25px;
    width: 50%;
    text-align: left;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    list-style-type: decimal;
}

.ListText {
    margin-left: 15px;
}
